{% extends 'base.html' %}

{% block title %}
    Registrar Empleado
{% endblock title %}

{% block content %}

{% include 'includes/header.html' %}
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Registrar Empleado</h1>
        <!-- la variale form pinta en el html los campos del modelo indicados en el fields del CreateView -->
        <!-- como en este caso se indicaron todos los modelos, la variable form pintará todos los campos -->
        <!-- la etiqueta '.as_p' pinta todos los elementos hacia abajo -->

        <!-- el CreateView funciona con el metodo POST, el boton enviará y guardará la informacion... -->
        <!-- puesta en las cajas por medio del metodo POST -->
        <!-- enctype="multipart/form-data" sirve para que se guarde la imagen en los archivos... -->
        <!-- estaticos junto con la configuracion previa -->
        <form class="cell grid-x grid-margin-x" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="medium-6 cell">
                <label>Nombres:
                    {{form.first_name}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Apellidos:
                    {{form.last_name}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Trabajo:
                    {{form.job}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Departamento:
                    {{form.departamento}}
                </label>
            </div>
            <div class="medium-12 cell">
                <label>Habilidades:
                    {{form.habilidades}}
                </label>
            </div>
            <div class="medium-12 cell">
                <label>Foto:
                    {{form.avatar}}
                </label>
            </div>
            <div class="medium-12 cell">
                <button type="submit" class="button success">Guardar</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}